# SPDX-FileCopyrightText: 2023 Jerin Joy
#
# SPDX-License-Identifier: Apache-2.0

[submodule "homedir_files/tmux/plugins/tmux-sensible"]
	path = homedir_files/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "homedir_files/tmux/plugins/tpm"]
	path = homedir_files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "homedir_files/config/nvim"]
	path = homedir_files/config/kickstart.nvim
	url = git@github.com:jerinjoy/kickstart.nvim.git
[submodule "homedir_files/tmux/plugins/tmux-theme"]
	path = homedir_files/tmux/plugins/tmux-theme
	url = git@github.com:jerinjoy/tmux-theme.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
