[submodule ".tmux/plugins/tmux"]
	path = dot_files/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = dot_files/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tpm"]
	path = dot_files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".vim/bundle/fzf.vim"]
	path = dot_files/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = dot_files/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/tagbar"]
	path = dot_files/.vim/bundle/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = dot_files/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/dracula"]
	path = dot_files/.vim/bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/bundle/fzf"]
	path = dot_files/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-airline"]
	path = dot_files/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
